@charset "UTF-8";
a:focus {
  outline: none;
}
#conter {
  margin-top: 5px;
}
#conter .form-title {
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color: #333;
}
#conter .reg-btn {
  display: block;
  margin: 10px auto;
}
.info-content {
  margin: 10px;
  background: #fff;
  padding: 5px;
  box-shadow: 2px 2px 3px #ccc;
}
.info-content .time {
  text-align: center;
}
.info-content .time span {
  color: red;
  margin: 0 5px;
}
.info-content .title {
  text-align: center;
}
#a2 {
  margin-top: 70px;
}
#particular h2 {
  text-align: center;
}
#particular p {
  text-align: center;
}
#particular span {
  color: darkred;
  margin: 0 6px;
}
