@charset "UTF-8";
html:{
  font-family: "微软雅黑";
}
a:focus{
  outline: none;
}
#conter{
  margin-top: 5px;
  .form-title{
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #333;
  }
  .reg-btn{
    display: block;
    margin: 10px auto;
  }
}
.info-content{
  margin: 10px;
  background: #fff;
  padding: 5px;
  box-shadow: 2px 2px 3px #ccc;
  .time{
    text-align: center;
    span{
      color: red;
      margin: 0 5px;
    }
  }
  .title{
    text-align: center;
  }
}
#a2{
  margin-top: 70px;
}
#particular{
  .title{
    text-align: center;
  }
  .time{
    text-align: center;
    span{
      color: darkred;
      margin: 0 6px;
    }
  }
}
#discuss{
  margin-top: 20px;
  li{
    overflow: hidden;
  }
  span{
    color: #666;
  }
  p{
    color: #666;
    float: left;
  }
  .btn{
    margin: 10px 0;
    float: right;
  }

}








